# should definitely enable this to avoid embarrassment
CONFIG_COMPILE_TEST=y
CONFIG_DEBUG_SECTION_MISMATCH=y

# debug
CONFIG_UBSAN=y
# needed if using Clang and want local-bounds checking
CONFIG_UBSAN_TRAP=y
CONFIG_UBSAN_SHIFT=y
CONFIG_KGDB=y
CONFIG_KGDB_SERIAL_CONSOLE=y
CONFIG_KASAN=y
CONFIG_KASAN_HW_TAGS=y
# CONFIG_DEBUG_INFO_REDUCED is not set
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_PROVE_LOCKING=y
CONFIG_PROVE_RAW_LOCK_NESTING=y

CONFIG_PRINTK_CALLER=y
CONFIG_DYNAMIC_DEBUG=y

CONFIG_TRACE_MMIO_ACCESS=y
CONFIG_FTRACE=y
CONFIG_BOOTTIME_TRACING=y
CONFIG_FUNCTION_GRAPH_RETVAL=y
CONFIG_FUNCTION_PROFILER=y
CONFIG_STACK_TRACER=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_PREEMPT_TRACER=y
CONFIG_SCHED_TRACER=y
CONFIG_HWLAT_TRACER=y
CONFIG_TIMERLAT_TRACER=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_BLK_DEV_IO_TRACE=y

# display
CONFIG_FB_SIMPLE=m

# regulators
CONFIG_REGULATOR_VIRTUAL_CONSUMER=m
CONFIG_REGULATOR_S2MPS11=m
# compile testing (depend on SEC_CORE)
CONFIG_REGULATOR_S2MPA01=m
CONFIG_REGULATOR_S5M8767=m

# USB interface drivers
CONFIG_USB_NET_DRIVERS=m
CONFIG_USB_NET_CDC_EEM=m
# CONFIG_USB_NET_NET1080 is not set
# CONFIG_USB_NET_CDC_SUBSET is not set
# CONFIG_USB_NET_ZAURUS is not set
CONFIG_USB_NET_AQC111=m

CONFIG_USB_ETH=m
CONFIG_USB_ZERO=m

# CONFIG_SND_SUPPORT_OLD_API is not set
# CONFIG_SND_VERBOSE_PROCFS is not set
# CONFIG_SND_DRIVERS is not set
CONFIG_SND_USB_AUDIO=m

# HID
CONFIG_HID_BATTERY_STRENGTH=y
CONFIG_HIDRAW=y
CONFIG_UHID=y
CONFIG_HID_APPLE=y
CONFIG_HID_PRODIKEYS=y
CONFIG_HID_ELECOM=y
CONFIG_HID_UCLOGIC=y
CONFIG_HID_LOGITECH=y
CONFIG_HID_LOGITECH_DJ=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_HID_MICROSOFT=y
CONFIG_HID_NINTENDO=y
CONFIG_HID_PICOLCD=y
CONFIG_HID_PLANTRONICS=y
CONFIG_HID_PLAYSTATION=y
CONFIG_PLAYSTATION_FF=y
CONFIG_HID_ROCCAT=y
CONFIG_HID_SONY=y
CONFIG_SONY_FF=y
CONFIG_HID_STEAM=y
CONFIG_HID_WACOM=y
CONFIG_HID_WIIMOTE=y

CONFIG_USB_HIDDEV=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_USB_UAS=y
CONFIG_USB_CONFIGFS_F_UAC2=y
CONFIG_USB_CONFIGFS_F_MIDI=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_USB_CONFIGFS_F_UVC=y

# USB
# compile testing
CONFIG_TYPEC_RT1711H=m
CONFIG_TYPEC_MT6360=m
CONFIG_TYPEC_ANX7411=m

# FS
CONFIG_F2FS_FS=m

CONFIG_FS_ENCRYPTION=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT=y
CONFIG_SCSI_UFS_CRYPTO=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y
CONFIG_CRYPTO_HCTR2=y
CONFIG_CRYPTO_ADIANTUM=y

CONFIG_SCSI_UFS_EXYNOS=m

CONFIG_POWER_RESET_GS101_POWEROFF=y

CONFIG_KEYBOARD_GPIO=m

#CONFIG_I2C_EXYNOS5=m
#CONFIG_I2C_EXYNOS5=y
